.container-modal {
  position: fixed;
  z-index: 80;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: transparent;

  backdrop-filter: blur(2px);
}

.content-modal {
  position: fixed;
  z-index: 20;

  top: 40%;
  left: 50%;

  display: flex;
  flex-direction: column;

  transform: translateX(-50%) translateY(-50%);

  background-color: #f3f3f3fa;
  height: 360px;
  width: 30%;

  padding: 10px;

  border: 2px solid #00ebe6;
  border-radius: 5px;

  box-shadow: -10px 10px 4px 4px rgba(0, 0, 0, 0.8);

  animation: .800s slider ease-in-out;
}

.btn {
  margin-top: 10px;
  height: 60px;
}

@keyframes slider {
  from {
    top: 100%;
  }

  to {
    top: 40%;
  }
}