.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;

  margin-top: 2%;

  gap: 40px;
}

.content {
  display: flex;

  gap: 20px;

  align-items: center;
  flex-direction: column;

  background-color: rgba(255, 255, 255, .3);

  border: 1px solid #00D1FF;
  border-radius: 10px;

  width: 35%;

  padding: 2%;

  
  box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
}

.description {
  color: aliceblue;

  font-size: 48px;

  animation: bounce 1.5s infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
}

@keyframes bounce {
  from {
    transform: translateY(0)
  }

  to {
    transform: translate3d(0, 50%, 0);
  }
}