.container-form {
  height: 200px;
  overflow: auto;
}

.erros {
  color: red;
  margin-bottom: 5px;
}

.btn {
  margin-top: 10px;
  height: 60px;
}

.input-format {
  height: 100%;
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: 0;
}