.content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 40px;
  margin-top: 40px;
  gap: 20px;

  font-size: 42px;
  color: #FFF;
}

.button {
  height: 80px;
  width: 100%;
}