.modal-info {
  text-align: center;
}

.cod-room {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;

  margin-bottom: 20px;
}

.room {
  margin-top: 10px;

  background-color: #FFF;

  border-radius: 5px;
  
  font-size: 36px;
  font-weight: 700;

  box-shadow: -5px 5px rgba(0, 0, 0, .6);
}

.info-room {
  background-color: rgba(255, 255,255, .8);
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  
  height: 25px;

  padding-left: 10px;
  padding-right: 10px;

  padding-top: 5px;

  font-family: Arial, Helvetica, sans-serif;

  font-weight: 700;
}

.alter-turn {
  position: absolute;

  top: 50%;

  background-color: #FFF;

  padding: 10px;

  border-radius: 10px;

  animation: bounce 1.5s infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
}

@keyframes bounce {
  from {
    transform: translateY(0)
  }

  to {
    transform: translate3d(0, 50%, 0);
  }
}